<h1>Here are your Purchase details:</h1>

<% purchased_products = CartedProduct.where(user_id: current_user.id, status: "Purchased", order_id: @order.id) %>

<% purchased_products.each do |product| %>
<h1><%= product.product.name %></h1>
<h1><%= product.quantity %></h1>
<% end %>
